<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/edit.css">
</head>

<body>
    <!-- NAV BAR -->

    <!-- Header -->
    <h1 id="title"> Edit Your Form</h1>

    <!-- Original Form Questions -->
    <form class="originalFormQs">
        <h3 id="q1">1. ____________</h3>
        <input type="text" placeholder="Enter your answer" autofocus></input>
        <h3 id="q2">2. ____________</h3>
        <input type="text" placeholder="Enter your answer" autofocus></input>
        <h3 id="q3">3. ____________</h3>
        <input type="text" placeholder="Enter your answer" autofocus></input>
        <h3 id="q4">4. ____________</h3>
        <input type="text" placeholder="Enter your answer" autofocus></input>
        <h3 id="q5">5. ____________</h3>
        <input type="text" placeholder="Enter your answer" autofocus></input>
        <h3 id="q6">6. ____________</h3>
        <input type="text" placeholder="Enter your answer" autofocus></input>
        <h3 id="q7">7. ____________</h3>
        <input type="text" placeholder="Enter your answer" autofocus></input>
        <h3 id="q8">8. ____________</h3>
        <input type="text" placeholder="Enter your answer" autofocus></input>
        <h3 id="q9">9. ____________</h3>
        <input type="text" placeholder="Enter your answer" autofocus></input>
        <h3 id="q10">10. ____________</h3>
        <input type="text" placeholder="Enter your answer" autofocus></input>
    </form>

    <!-- Buttons -->
    <br> <button class="btn new question">Add Another Question</button>
    <br> <button class="edit questions">Edit Current Questions</button>
    <hr>
    <button class="btn save">Save</button>

    <!--  Background picture -->
</body>

</html>